html,body{
    height: 100%;
}
img{
    max-width: 100%;
}
/* cover */
#cover{
    background: #222 url('../img/dos.jpg') no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#cover-texto{
    width: 100%;
}
#cover-texto .form-inline{
    padding: 5rem 0;
}

.contenido-seccion{
    padding: 5rem 0;
}

#map{
  position:relative;
  top:70px;
  text-align:center;
}

#cards{
  position:relative;
  top:70px;
}

#acerca-de{
    background: url('../img/diez.jpg') center center no-repeat;
    background-size: cover;
}

#infoHospedaje{
    background: url('../img/uno.jpg') no-repeat;
    background-size: cover;
    position:relative;
    top:55px;
}

#infoLimpieza{
    background: url('../img/cinco.jpg') no-repeat;
    background-size: cover;
    position:relative;
    top:55px;
}

#infoAtropellados{
    background: url('../img/ocho.jpg') no-repeat;
    background-size: cover;
    position:relative;
    top:55px;
}

#infoFuneraria{
    background: url('../img/siete.jpg') no-repeat;
    background-size: cover;
    position:relative;
    top:55px;
}

.texto-acerca-de{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.875rem;
}

.footer{
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

#footer-galeria{
    position:relative;
    top:100px;
}

#footer-contacto{
    position:relative;
    top:60px;
}

#footer-info{
  position:relative;
  top:55px;
}

div.form-group{
    padding-right: 1rem;
}

div.mapa{
  height:420px;
  background-color:green;
}
